<html>
<head><title>Word Ladders</title>
  <link rel="stylesheet" href="../static/index.css">


</head>
<body>

    <div class="wordlddr">Welcome to Word Ladders!</div>

<div id="btnss">
  <button id = "playgame" class="indexplybtn" value="PLAY THE GAME!">PLAY THE GAME!</button>
<button id = "solver" class="indexplybtn" value="WORD LADDER SOLVER">WORD LADDER SOLVER</button>

</div>

<button id = "about" value="HOW TO PLAY">How to Play</button>


<div id="playModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close-playmodal">&times;</span>
    <p class="paras"> Here are your start and end words! </p>
   <p class="paras"> Start Word: {{st_en_words[0]}}</p>
   <p class="paras"> End Word: {{st_en_words[1]}}</p>

      <form action = "http://localhost:8000/playgame" method = "POST">
        <p class="paras"> Add, delete or change a letter from the start word to make an intermediate word, and continue till you reach the end word.</p>

        <p ><input type = "submit" value = "Begin!" class="modalbtn" /></p>

     </form>
   
  </div>
</div>


<div id="helpModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close-modal">&times;</span>
    <p class="paras">Welcome to Word Ladders! This is a game where you go from one word to another by swapping/deleting/inserting one letter at a time.</p>
  
    <p class="paras"> Click PLAY THE GAME! to have the computer generate two words for you, which you can solve as a puzzle.</p>
    <p class="paras"> Click WORD LADDER SOLVER, to find the shortest path between two words which you can specify!</p>

    <p class="paras"> The words can be of lengths ranging from THREE to SEVEN letters. The intermediate words must be valid. The aim is to find the shortest path of words.</p>
  </div>
</div>


<div id="solverForm" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="close-solverform">&times;</span>
    <p class="paras"> Enter a start word and an end word, and the solver will generate the word ladder for you! </p>
      <p class="paras">(Both words must be of length ranging from THREE to SEVEN letters, and valid dictionary words.)</p>      <form action = "http://localhost:8000/result" method = "POST">
      <p class="paras">Start Word <input type = "text" autofocus="autofocus"  autocomplete="off" name = "startwrd" /></p>
      <p class="paras"> End Word <input type = "text" autocomplete="off" name = "endwrd" /></p>
      <p class="paras"><input type = "submit" value = "Solve!" class="modalbtn" /></p>
   </form>
  </div>
</div>


  <div class="footer">
    <p>© Created and owned by <a href="https://nikitametha.com/" id="authorlink">Nikita Metha</a></p>
  </div>

  <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
