body, html {
  height: 100%;
 /* The image used */
  background-image: url("Scrabble.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}

.wordlddr {
  background-color: white;
  color: black;
  font-size: 4vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 1px;
  width: 40%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 20%; /* Position text in the middle */
  left: 70%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
  font-family: arial;
  }

  .guessarea {
    background-color: white;
    color: black;
    font-size: 4vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 1px;
    width: 40%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 70%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */}

  #btnss
  {
      transform: translate(-50%, -50%); /* Position text in the middle */
      margin: 0 auto; /* Center the text container */
      text-align: center; /* Center text */
      position: absolute; /* Position text */
      width: 40%;
      top: 50%; /* Position text in the middle */
      left: 70%; /* Position text in the middle */
      display: block;
      height: auto;
      mix-blend-mode: screen; /* This makes the cutout text possible */
      
  }

  .modalbtn {
    background-color: #335360;
    color: white;
    font-size: xx-large; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 1px;
    width: 40%;
    height:20%;
    margin-top: 10%;
    position: relative;
    text-align: center; /* Center text */
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
  }

  .paras
  {
    font-size: xx-large;
  }
  .indexplybtn {
      background-color: white;
      font-size: 60px; /* Responsive font size */
      font-weight: bold;
      margin: 0 auto; /* Center the text container */
      padding: 1px;
      width: 100%;
      margin-top: 10%;
      position: relative;
      text-align: center; /* Center text */
      border: 1px;
      border-radius: 10px;
      cursor: pointer;
      display: block;
    }
    
    .indexplybtn:hover {background-color: #335360;
      border-color: white;
      border-style: solid;
      border-width: thick;


  }
    
  .indexplybtn:active {
      background-color: #335360;
      box-shadow: 0 5px #666;
      transform: translateY(1px);
    }


    #about
    {
        transform: translate(-50%, -50%); /* Position text in the middle */
        margin: 0 auto; /* Center the text container */
        text-align: center; /* Center text */
        position: absolute; /* Position text */
        width: 40%;
        top: 85%; /* Position text in the middle */
        left: 70%; /* Position text in the middle */
        display: block;
        height: auto;
        mix-blend-mode: screen; /* This makes the cutout text possible */

      background-color: white;
      font-size: 60px; /* Responsive font size */
      font-weight: bold;
      padding: 1px;
      border: 1px;
      border-radius: 10px;
      cursor: pointer;
    }


    #about:hover {background-color: #335360;
      border-color: white;
      border-style: solid;
      border-width: thick;


  }
    
  #about:active {
      background-color: #335360;
      box-shadow: 0 5px #666;
    }



    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 10px solid #335360;
      font-size: 30px;
      font-family: Arial;
      width: 80%; /* Could be more or less, depending on screen size */
      height: 80%;
      top:20%;
      text-align: left;
      cursor: pointer;
    }
    
    /* The Close Button */
    .close {
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      opacity: 60%;
      color: white;
      font-size: 13px;
      font-family: Arial;
      text-align: center;
   }
   #authorlink
   {
      color: white;
   }
   #authorlink:hover
   {
      color:#335360 ;
   }



/*------------*/