body, html {
    height: 100%;
   /* The image used */
    background-image: url("Scrabble.jpeg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
  }

  .wordlddr {
    background-color: white;
    color: black;
    font-size: 25px; /* Responsive font size */
    font-weight: bold;
    font-family: Arial;
    margin: 0 auto; /* Center the text container */
    padding: 1px;
    width: 25%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 20%; /* Position text in the middle */
    left: 55%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */}

    .hintarea {
      background-color: white;
      color: black;
      font-size: 20px; /* Responsive font size */
      font-weight: bold;
      margin: 0 auto; /* Center the text container */
      padding: 1px;
      width: 25%;
      font-family: Arial;
      text-align: center; /* Center text */
      position: absolute; /* Position text */
      top: 40%; /* Position text in the middle */
      left: 55%; /* Position text in the middle */
      transform: translate(-50%, -50%); /* Position text in the middle */
      mix-blend-mode: screen; /* This makes the cutout text possible */}
   
     .guessarea {
      background-color: white;
      color: black;
      font-size: 25px; /* Responsive font size */
      font-weight: bold;
      margin: 10 auto; /* Center the text container */
      padding: 10px;
      width: 25%;
      font-family: Arial;
      text-align: center; /* Center text */
      position: absolute; /* Position text */
      top: 70%; /* Position text in the middle */
      left: 55%; /* Position text in the middle */
      transform: translate(-50%, -50%); /* Position text in the middle */
      mix-blend-mode: screen; /* This makes the cutout text possible */}

      .wordlist {
        background-color: white;
        color: black;
        font-size: 20px; /* Responsive font size */
        font-weight: bold;
        margin: 10 auto; /* Center the text container */
        padding: 10px;
        width: 18%;
        font-family: Arial;
        text-align: center; /* Center text */
        position: absolute; /* Position text */
        top: 15%; /* Position text in the middle */
        left: 70%; /* Position text in the middle */
  
        mix-blend-mode: screen; /* This makes the cutout text possible */}

    #btnss
    {
        transform: translate(-50%, -50%); /* Position text in the middle */
        margin: 10 auto; /* Center the text container */
        text-align: center; /* Center text */
        position: absolute; /* Position text */
        width: 20%;
        font-family: Arial;
        top: 50%; /* Position text in the middle */
        left: 70%; /* Position text in the middle */
        display: block;
        height: auto;
        mix-blend-mode: screen; /* This makes the cutout text possible */
        
    }
    .indexplybtn {
        background-color: #335360;
        color: white;
        font-size: 20px; /* Responsive font size */
        font-weight: bold;
        margin: 0 auto; /* Center the text container */
        padding: 1px;
        font-family: Arial;
        width: 80%;
        margin-top: 10%;
        position: relative;
        text-align: center; /* Center text */
        border: 1px;
        border-radius: 10px;
        cursor: pointer;
        display: block;
      }
      
      .indexplybtn:hover {background-color: black;
        border-color: white;


    }

      
    .indexplybtn:active {
        background-color: #335360;
        box-shadow: 0 5px #666;
        transform: translateY(1px);
      }

  
      
    .resultheading {
      background-color: white;
      color: black;
      font-size: 4vw; /* Responsive font size */
      font-weight: bold;
      margin: 0 auto; /* Center the text container */
      padding: 1px;
      font-family: Arial;
      width: 50%;
      text-align: center; /* Center text */
      position: absolute; /* Position text */
      top: 10%; /* Position text in the middle */
      left: 70%; /* Position text in the middle */
      transform: translate(-50%, -50%); /* Position text in the middle */
      mix-blend-mode: screen; /* This makes the cutout text possible */}
  
  .ladder {
      background-color: white;
      color: black;
      font-size: 20px; /* Responsive font size */
      font-weight: bold;
      margin: 5 auto; /* Center the text container */
      padding: 10px;
      font-family: Arial;
      width: 40%;
      text-align: center; /* Center text */
      position: absolute; /* Position text */
      top: 60%; /* Position text in the middle */
      left: 70%; /* Position text in the middle */
      transform: translate(-50%, -50%); /* Position text in the middle */
      mix-blend-mode: screen; /* This makes the cutout text possible */}
  
      .homebutton
      {
      color: black;
      font-weight: bold;
      width:6px;
      padding: 10px;
      font-family: Arial;
      text-align: center; /* Center text */
      position: absolute; /* Position text */
      top: 5%; /* Position text in the middle */
      left: 95%; /* Position text in the middle */
      transform: translate(-50%, -50%); /* Position text in the middle */
      mix-blend-mode: screen; /* This makes the cutout text possible */

      }

    


/*------------*/
    
  